{% extends 'base.html' %}

{% block content %}
    <h1>Форма для изменения пароля</h1>

    <form method="POST" class="row g-3 needs-validation" novalidate autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="col-md-4">
            {{ form.old_password.label(class="form-label") }}
            {{ form.old_password( class="form-control" + (' is-invalid' if form.old_password.errors | length > 0 else ''), value=form.old_password.data) }}

            <div class="invalid-feedback">
                {% for error in form.errors["password"] %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control" + (' is-invalid' if form.password.errors | length > 0 else ''), value=form.password.data) }}

            <div class="invalid-feedback">
                {% for error in form.errors["password"] %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            {{ form.confirm.label(class="form-label") }}
            {{ form.confirm(class="form-control" + (' is-invalid' if form.confirm.errors | length > 0 else ''), required="required") }}
            <div class="invalid-feedback">
                {% for error in form.errors["confirm"] %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="col-12">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %}