{% extends 'base.html' %}

{% block content %}
    <h1>Калькулятор</h1>
    <form method="POST">
        <div class="mb-3">
            <input type="text" name="a" value="{{ request.form['a'] }}">
            <select name="operation" id="">
                <option value="+" {% if request.form['operation'] == '+' %}selected{% endif %}>+</option>
                <option value="-" {% if request.form['operation'] == '-' %}selected{% endif %}>-</option>
                <option value="*" {% if request.form['operation'] == '*' %}selected{% endif %}>*</option>
                <option value="/" {% if request.form['operation'] == '/' %}selected{% endif %}>/</option>
                
            </select>
            <input type="text" name="b" value="{{request.form['b']}}">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    {{ res }}
    {% if error %}
        <div class="text-danger">{{error}}</div>
    {% endif %}
{% endblock %}