{% extends 'base.html' %}

{% block content %}
    <h1>Форма регистрации</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="name-field">Введите ФИО: </label>
            <input id="name-field" type="text" name="FIO" value="{{ request.form.get('FIO','') }}">
        </div>
        <div class="mb-3">
            <label for="mail-field">Введите почту: </label>
            <input id="mail-field" type="email" name="mail" value="{{ request.form.get('mail', '') }}">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <table class="table">
        <tbody>
            {% for key, value in request.form.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}