{% macro form(user, roles)%}
<form method="POST">
  <div class="container">
    <div class="mb-3">
      <label for="InputName" class="form-label">Имя</label>
      <input type="text" name='name' class="form-control" id="InputName" value={{ user.first_name or '' }}>
    </div>
    <div class="mb-3">
      <label for="InputLastName" class="form-label">Фамилия</label>
      <input type="text" name='lastname' class="form-control" id="InputLastName" value={{ user.middle_name or '' }}>
    </div>
    <div class="mb-3">
      <label for="InputMiddleName" class="form-label">Отчество</label>
      <input type="text" name='middlename' class="form-control" id="InputMiddleName" value={{ user.last_name or '' }}>
    </div>
    {% if request.endpoint == "create_user" %}
    <div class="mb-3">
      <label for="InputLogin" class="form-label">Логин</label>
      <input type="login" name='login' class="form-control" id="InputLogin" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Пароль</label>
      <input type="password" name='password' class="form-control" id="InputPassword">
    </div>
    <div class="mb-3">
      <label for="InputRole" class="form-label">Роль</label>
      <select name='role' class="form-control" id="InputRole">
        {% for role in roles %}
        <option value="{{ role.id }}">{{ role.name }}</option>
        {% endfor %}
      </select>
    </div>
    {%endif%}
    {% if request.endpoint == "edit_user" %}
    <div class="mb-3">
      <label for="InputLogin" class="form-label">Логин</label>
      <input type="login" name='login' class="form-control" id="editLogin" value={{ user.login or '' }}>
    </div>
    {%if current_user.role_id==1%}
    <div class="mb-3">
      <label for="InputRole" class="form-label">Роль</label>
      <select name='role' class="form-control" id="editRole">
        <option value="{{user.role_id}}">{{user.role_name}}</option>
        {% for role in roles %}
        {%if user.role_id!=role.id%}
          <option value="{{ role.id }}">{{ role.name }}</option>
          {%endif%}
        {% endfor %}
      </select>
    </div>
    {%else%}
    <div class="mb-3">
      <label for="InputRole" class="label">Роль</label>
      <p class="form-control">{{ user.role_name }}</p>
    </div>
    {%endif%}
    {% endif %}
    <button type="submit" class="btn btn-primary ">Отправить</button>
  </div>
</form>

{% endmacro %}