{% macro pagination(count, page)%}
<nav aria-label="Page navigation example">
    <ul class="pagination">

      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      {% set begin = [1, page-2] | max %}
      {% set end = [ count, page + 2 ] | min %}
      {% for  i in range(begin,end+1) %}
        <li class="page-item {% if i == page %} active {% endif%}" ><a class="page-link" href="{{ url_for(request.endpoint, page=i)}}">{{ i }}</a></li>
      {% endfor %}
      <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=page+1)}}">Next</a></li>
    </ul>
  </nav>
{% endmacro %}